@import "tailwindcss";

:root {
  --primary-core: #2f80ed;
  --primary-second: #4f4f4f;
  --primary-third: #828282;
  --primary-fourth: #e0e0e0;
}

@theme {
  --color-primary-core: var(--primary-core);
  --color-primary-second: var(--primary-second);
  --color-primary-third: var(--primary-third);
  --color-primary-fourth: var(--primary-fourth);
}

/* Untuk seluruh scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Bagian track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Bagian thumb (bagian yang bisa digeser) */
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* Untuk Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd transparent;
}

body {
  font-family: "Lato", sans-serif;
}

pre {
  font-family: "Lato", sans-serif;
}

.react-datepicker__input-container {
  position: relative !important;
  display: flex !important;
  flex-direction: row-reverse !important;
  width: 100%;
}

.react-datepicker__view-calendar-icon input {
  padding: 0.375rem 0.5rem !important;
}

.react-datepicker__calendar-icon {
  width: 0.875rem !important;
  height: 0.875rem !important;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
}

.react-datepicker__header {
  background-color: #ffff !important;
  border-bottom: none !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--color-primary-second) !important;
}

.react-datepicker__day-name {
  font-weight: 600 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--color-primary-second) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: white !important;
  border-radius: 100% !important;
  border: 1px solid var(--color-primary-core) !important;
  color: var(--color-primary-second) !important;
}

.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
.react-datepicker__year-text:not([aria-disabled="true"]):hover {
  border-radius: 100% !important;
}

.react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--keyboard-selected:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__quarter-text--keyboard-selected:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__year-text--keyboard-selected:not(
    [aria-disabled="true"]
  ):hover {
  color: #ffff !important;
  border: 1px solid #ffff !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 100% !important;
  border: 1px solid var(--color-primary-core) !important;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  color: var(--color-primary-second) !important;
  font-weight: 400 !important;
}

.custom-datepicker-popper {
  z-index: 9999 !important;
  transform: translate(107px, 40px) !important;
}
